version: "3.8"

services:
    beanstalkd:
        ports:
            - 127.0.0.1:11300:11300

    redis:
        ports:
            - 127.0.0.1:6379:6379

    rabbitmq:
        ports:
            - 127.0.0.1:5672:5672
            - 127.0.0.1:15672:15672
