parameters:
	ignoreErrors:
		-
			message: "#^Cannot use array destructuring on array\\|null\\.$#"
			count: 1
			path: src/Amqp/Driver.php

		-
			message: "#^Parameter \\#1 \\$delivery_tag of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:basic_ack\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Amqp/Driver.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src/Amqp/Tests/DriverIntegrationTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:channel\\(\\)\\.$#"
			count: 1
			path: src/Amqp/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:close\\(\\)\\.$#"
			count: 1
			path: src/Amqp/Tests/DriverTest.php

		-
			message: "#^Parameter \\#1 \\$connection of class Bernard\\\\Driver\\\\Amqp\\\\Driver constructor expects PhpAmqpLib\\\\Connection\\\\AbstractConnection, object given\\.$#"
			count: 1
			path: src/Amqp/Tests/DriverTest.php

		-
			message: "#^Call to method add\\(\\) on an unknown class google\\\\appengine\\\\api\\\\taskqueue\\\\PushTask\\.$#"
			count: 1
			path: src/AppEngine/Driver.php

		-
			message: "#^Instantiated class google\\\\appengine\\\\api\\\\taskqueue\\\\PushTask not found\\.$#"
			count: 1
			path: src/AppEngine/Driver.php

		-
			message: "#^Access to static property \\$messages on an unknown class google\\\\appengine\\\\api\\\\taskqueue\\\\PushTask\\.$#"
			count: 5
			path: src/AppEngine/Tests/DriverTest.php

		-
			message: "#^Instantiated class google\\\\appengine\\\\api\\\\taskqueue\\\\PushTask not found\\.$#"
			count: 3
			path: src/AppEngine/Tests/DriverTest.php

		-
			message: "#^Method Bernard\\\\Driver\\\\AppEngine\\\\Tests\\\\Fixtures\\\\PushTask\\:\\:__construct\\(\\) has parameter \\$url_path with no type specified\\.$#"
			count: 1
			path: src/AppEngine/Tests/Fixtures/PushTask.php

		-
			message: "#^Method Bernard\\\\Driver\\\\AppEngine\\\\Tests\\\\Fixtures\\\\PushTask\\:\\:add\\(\\) has parameter \\$queueName with no type specified\\.$#"
			count: 1
			path: src/AppEngine/Tests/Fixtures/PushTask.php

		-
			message: "#^Property Bernard\\\\Driver\\\\AppEngine\\\\Tests\\\\Fixtures\\\\PushTask\\:\\:\\$messages has no type specified\\.$#"
			count: 1
			path: src/AppEngine/Tests/Fixtures/PushTask.php

		-
			message: "#^Property Bernard\\\\Driver\\\\AppEngine\\\\Tests\\\\Fixtures\\\\PushTask\\:\\:\\$options has no type specified\\.$#"
			count: 1
			path: src/AppEngine/Tests/Fixtures/PushTask.php

		-
			message: "#^Property Bernard\\\\Driver\\\\AppEngine\\\\Tests\\\\Fixtures\\\\PushTask\\:\\:\\$query_data has no type specified\\.$#"
			count: 1
			path: src/AppEngine/Tests/Fixtures/PushTask.php

		-
			message: "#^Property Bernard\\\\Driver\\\\AppEngine\\\\Tests\\\\Fixtures\\\\PushTask\\:\\:\\$url_path has no type specified\\.$#"
			count: 1
			path: src/AppEngine/Tests/Fixtures/PushTask.php

		-
			message: "#^Cannot access property \\$size on mixed\\.$#"
			count: 1
			path: src/IronMQ/Driver.php

		-
			message: "#^Parameter \\#2 \\$count of method IronMQ\\\\IronMQ\\:\\:reserveMessages\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/IronMQ/Driver.php

		-
			message: "#^Call to an undefined method IronMQ\\\\IronMQ\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:deleteMessage\\(\\)\\.$#"
			count: 1
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method IronMQ\\\\IronMQ\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:deleteQueue\\(\\)\\.$#"
			count: 1
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method IronMQ\\\\IronMQ\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:getQueue\\(\\)\\.$#"
			count: 1
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method IronMQ\\\\IronMQ\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:getQueues\\(\\)\\.$#"
			count: 1
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method IronMQ\\\\IronMQ\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:peekMessages\\(\\)\\.$#"
			count: 1
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method IronMQ\\\\IronMQ\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:postMessage\\(\\)\\.$#"
			count: 1
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method IronMQ\\\\IronMQ\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:reserveMessages\\(\\)\\.$#"
			count: 3
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method IronMQ\\\\IronMQ\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:reveal\\(\\)\\.$#"
			count: 1
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Cannot access property \\$message on Bernard\\\\Driver\\\\Message\\|null\\.$#"
			count: 3
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Cannot access property \\$receipt on Bernard\\\\Driver\\\\Message\\|null\\.$#"
			count: 3
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Cannot call method shouldBeCalled\\(\\) on mixed\\.$#"
			count: 3
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Cannot call method willReturn\\(\\) on array\\|null\\.$#"
			count: 4
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Cannot call method willReturn\\(\\) on mixed\\.$#"
			count: 1
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Parameter \\#1 \\$ironmq of class Bernard\\\\Driver\\\\IronMQ\\\\Driver constructor expects IronMQ\\\\IronMQ, object given\\.$#"
			count: 2
			path: src/IronMQ/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method object\\:\\:getArrayCopy\\(\\)\\.$#"
			count: 1
			path: src/Pheanstalk/Driver.php

		-
			message: "#^Call to an undefined method object\\:\\:getData\\(\\)\\.$#"
			count: 1
			path: src/Pheanstalk/Driver.php

		-
			message: "#^Cannot access offset 'current\\-jobs\\-ready' on object\\.$#"
			count: 1
			path: src/Pheanstalk/Driver.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Pheanstalk/Driver.php

		-
			message: "#^Parameter \\#1 \\$job of method Pheanstalk\\\\PheanstalkInterface\\:\\:delete\\(\\) expects object, mixed given\\.$#"
			count: 1
			path: src/Pheanstalk/Driver.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Pheanstalk/Driver.php

		-
			message: "#^Call to an undefined method object\\:\\:getData\\(\\)\\.$#"
			count: 1
			path: src/Pheanstalk/Tests/DriverIntegrationTest.php

		-
			message: "#^Call to an undefined method object\\:\\:getId\\(\\)\\.$#"
			count: 2
			path: src/Pheanstalk/Tests/DriverIntegrationTest.php

		-
			message: "#^Cannot access offset 0 on Bernard\\\\Driver\\\\Message\\|null\\.$#"
			count: 1
			path: src/Pheanstalk/Tests/DriverIntegrationTest.php

		-
			message: "#^Cannot access offset 1 on Bernard\\\\Driver\\\\Message\\|null\\.$#"
			count: 2
			path: src/Pheanstalk/Tests/DriverIntegrationTest.php

		-
			message: "#^Parameter \\#1 \\$pheanstalk of class Bernard\\\\Driver\\\\Pheanstalk\\\\Driver constructor expects Pheanstalk\\\\PheanstalkInterface, object given\\.$#"
			count: 1
			path: src/Pheanstalk/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Predis\\\\ClientInterface\\:\\:lLen\\(\\)\\.$#"
			count: 1
			path: src/Predis/Driver.php

		-
			message: "#^Call to an undefined method Predis\\\\ClientInterface\\:\\:lRange\\(\\)\\.$#"
			count: 1
			path: src/Predis/Driver.php

		-
			message: "#^Call to an undefined method Predis\\\\ClientInterface\\:\\:sAdd\\(\\)\\.$#"
			count: 1
			path: src/Predis/Driver.php

		-
			message: "#^Call to an undefined method Predis\\\\ClientInterface\\:\\:sMembers\\(\\)\\.$#"
			count: 1
			path: src/Predis/Driver.php

		-
			message: "#^Call to an undefined method Predis\\\\ClientInterface\\:\\:sRem\\(\\)\\.$#"
			count: 1
			path: src/Predis/Driver.php

		-
			message: "#^Call to an undefined method Predis\\\\Profile\\\\ProfileInterface\\:\\:defineCommand\\(\\)\\.$#"
			count: 2
			path: src/Predis/Driver.php

		-
			message: "#^Call to an undefined method Predis\\\\Profile\\\\ProfileInterface\\:\\:getCommandClass\\(\\)\\.$#"
			count: 1
			path: src/Predis/Driver.php

		-
			message: "#^Cannot use array destructuring on array\\|null\\.$#"
			count: 1
			path: src/Predis/Driver.php

		-
			message: "#^Parameter \\#2 \\$values of method Predis\\\\ClientInterface\\:\\:rpush\\(\\) expects array, string given\\.$#"
			count: 1
			path: src/Predis/Driver.php

		-
			message: "#^Call to an undefined method Predis\\\\Client\\:\\:blPop\\(\\)\\.$#"
			count: 1
			path: src/Predis/Tests/DriverIntegrationTest.php

		-
			message: "#^Parameter \\#1 \\$redis of class Bernard\\\\Driver\\\\Predis\\\\Driver constructor expects Predis\\\\ClientInterface, object given\\.$#"
			count: 1
			path: src/Predis/Tests/DriverTest.php

		-
			message: "#^Parameter \\#1 \\$message of method Interop\\\\Queue\\\\PsrConsumer\\:\\:acknowledge\\(\\) expects Interop\\\\Queue\\\\PsrMessage, mixed given\\.$#"
			count: 1
			path: src/QueueInterop/Driver.php

		-
			message: "#^Call to an undefined method Interop\\\\Amqp\\\\AmqpContext\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:createQueue\\(\\)\\.$#"
			count: 3
			path: src/QueueInterop/Tests/AmqpDriverTest.php

		-
			message: "#^Call to an undefined method Interop\\\\Amqp\\\\AmqpContext\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:declareQueue\\(\\)\\.$#"
			count: 2
			path: src/QueueInterop/Tests/AmqpDriverTest.php

		-
			message: "#^Call to an undefined method Interop\\\\Amqp\\\\AmqpContext\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:deleteQueue\\(\\)\\.$#"
			count: 1
			path: src/QueueInterop/Tests/AmqpDriverTest.php

		-
			message: "#^Call to an undefined method Interop\\\\Amqp\\\\AmqpQueue\\:\\:willReturn\\(\\)\\.$#"
			count: 3
			path: src/QueueInterop/Tests/AmqpDriverTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:addFlag\\(\\)\\.$#"
			count: 2
			path: src/QueueInterop/Tests/AmqpDriverTest.php

		-
			message: "#^Cannot call method shouldBeCalled\\(\\) on int\\.$#"
			count: 1
			path: src/QueueInterop/Tests/AmqpDriverTest.php

		-
			message: "#^Cannot call method willReturn\\(\\) on int\\.$#"
			count: 1
			path: src/QueueInterop/Tests/AmqpDriverTest.php

		-
			message: "#^Parameter \\#1 \\$context of class Bernard\\\\Driver\\\\QueueInterop\\\\Driver constructor expects Interop\\\\Queue\\\\PsrContext, object given\\.$#"
			count: 1
			path: src/QueueInterop/Tests/AmqpDriverTest.php

		-
			message: "#^Call to an undefined method Interop\\\\Queue\\\\PsrConsumer\\:\\:willReturn\\(\\)\\.$#"
			count: 3
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Interop\\\\Queue\\\\PsrContext\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:createConsumer\\(\\)\\.$#"
			count: 3
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Interop\\\\Queue\\\\PsrContext\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:createMessage\\(\\)\\.$#"
			count: 1
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Interop\\\\Queue\\\\PsrContext\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:createProducer\\(\\)\\.$#"
			count: 1
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Interop\\\\Queue\\\\PsrContext\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:createQueue\\(\\)\\.$#"
			count: 4
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Interop\\\\Queue\\\\PsrMessage\\:\\:willReturn\\(\\)\\.$#"
			count: 1
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Interop\\\\Queue\\\\PsrProducer\\:\\:willReturn\\(\\)\\.$#"
			count: 1
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Interop\\\\Queue\\\\PsrQueue\\:\\:willReturn\\(\\)\\.$#"
			count: 4
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:acknowledge\\(\\)\\.$#"
			count: 1
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:getBody\\(\\)\\.$#"
			count: 1
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:receive\\(\\)\\.$#"
			count: 2
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:send\\(\\)\\.$#"
			count: 1
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Cannot access property \\$message on Bernard\\\\Driver\\\\Message\\|null\\.$#"
			count: 1
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Cannot access property \\$receipt on Bernard\\\\Driver\\\\Message\\|null\\.$#"
			count: 1
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Parameter \\#1 \\$context of class Bernard\\\\Driver\\\\QueueInterop\\\\Driver constructor expects Interop\\\\Queue\\\\PsrContext, object given\\.$#"
			count: 1
			path: src/QueueInterop/Tests/DriverTest.php

		-
			message: "#^Cannot use array destructuring on array\\|null\\.$#"
			count: 1
			path: src/Redis/Driver.php

		-
			message: "#^Method Bernard\\\\Driver\\\\Redis\\\\Driver\\:\\:acknowledgeMessage\\(\\) has parameter \\$queueName with no type specified\\.$#"
			count: 1
			path: src/Redis/Driver.php

		-
			message: "#^Method Bernard\\\\Driver\\\\Redis\\\\Driver\\:\\:acknowledgeMessage\\(\\) has parameter \\$receipt with no type specified\\.$#"
			count: 1
			path: src/Redis/Driver.php

		-
			message: "#^Method Bernard\\\\Driver\\\\Redis\\\\Driver\\:\\:countMessages\\(\\) should return int but returns int\\|false\\.$#"
			count: 1
			path: src/Redis/Driver.php

		-
			message: "#^Parameter \\#1 \\$redis of class Bernard\\\\Driver\\\\Redis\\\\Driver constructor expects Redis, object given\\.$#"
			count: 1
			path: src/Redis/Tests/DriverTest.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: src/Sqs/Driver.php

		-
			message: "#^Cannot access offset 'ApproximateNumberOf…' on mixed\\.$#"
			count: 2
			path: src/Sqs/Driver.php

		-
			message: "#^Cannot access offset 'Body' on mixed\\.$#"
			count: 1
			path: src/Sqs/Driver.php

		-
			message: "#^Cannot access offset 'ReceiptHandle' on mixed\\.$#"
			count: 1
			path: src/Sqs/Driver.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/Sqs/Driver.php

		-
			message: "#^Dead catch \\- InvalidArgumentException is never thrown in the try block\\.$#"
			count: 1
			path: src/Sqs/Driver.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: src/Sqs/Driver.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src/Sqs/Driver.php

		-
			message: "#^Parameter \\#1 \\$message of class Bernard\\\\Driver\\\\Message constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Sqs/Driver.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, mixed given\\.$#"
			count: 1
			path: src/Sqs/Driver.php

		-
			message: "#^Cannot access offset 'ApproximateNumberOf…' on mixed\\.$#"
			count: 1
			path: src/Sqs/Tests/DriverIntegrationTest.php

		-
			message: "#^Cannot access offset 'Body' on mixed\\.$#"
			count: 1
			path: src/Sqs/Tests/DriverIntegrationTest.php

		-
			message: "#^Cannot access offset 'ReceiptHandle' on mixed\\.$#"
			count: 1
			path: src/Sqs/Tests/DriverIntegrationTest.php

		-
			message: "#^Cannot access offset 0 on Bernard\\\\Driver\\\\Message\\|null\\.$#"
			count: 1
			path: src/Sqs/Tests/DriverIntegrationTest.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 2
			path: src/Sqs/Tests/DriverIntegrationTest.php

		-
			message: "#^Cannot access offset 1 on Bernard\\\\Driver\\\\Message\\|null\\.$#"
			count: 1
			path: src/Sqs/Tests/DriverIntegrationTest.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Sqs/Tests/DriverIntegrationTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertContains\\(\\) expects iterable, mixed given\\.$#"
			count: 1
			path: src/Sqs/Tests/DriverIntegrationTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, mixed given\\.$#"
			count: 2
			path: src/Sqs/Tests/DriverIntegrationTest.php

		-
			message: "#^Call to an undefined method Aws\\\\Result\\:\\:willReturn\\(\\)\\.$#"
			count: 2
			path: src/Sqs/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Aws\\\\Sqs\\\\SqsClient\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:createQueue\\(\\)\\.$#"
			count: 1
			path: src/Sqs/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Aws\\\\Sqs\\\\SqsClient\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:listQueues\\(\\)\\.$#"
			count: 1
			path: src/Sqs/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Aws\\\\Sqs\\\\SqsClient\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:receiveMessage\\(\\)\\.$#"
			count: 1
			path: src/Sqs/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Aws\\\\Sqs\\\\SqsClient\\|Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:reveal\\(\\)\\.$#"
			count: 2
			path: src/Sqs/Tests/DriverTest.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:get\\(\\)\\.$#"
			count: 2
			path: src/Sqs/Tests/DriverTest.php

		-
			message: "#^Cannot access property \\$message on Bernard\\\\Driver\\\\Message\\|null\\.$#"
			count: 2
			path: src/Sqs/Tests/DriverTest.php

		-
			message: "#^Cannot access property \\$receipt on Bernard\\\\Driver\\\\Message\\|null\\.$#"
			count: 2
			path: src/Sqs/Tests/DriverTest.php

		-
			message: "#^Parameter \\#1 \\$sqs of class Bernard\\\\Driver\\\\Sqs\\\\Driver constructor expects Aws\\\\Sqs\\\\SqsClient, object given\\.$#"
			count: 3
			path: src/Sqs/Tests/DriverTest.php

